ratecapture/src/main/app/ratecapture-inbound.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<jms:activemq-xa-connector name="activeMQConnector" brokerURL="tcp://localhost:61616" doc:name="Active MQ"/>
    <flow name="ratecapture-inboundFlow">
        <jms:inbound-endpoint doc:name="JMS-InRates" connector-ref="activeMQConnector" queue="OUTRATES" mimeType="application/xml"/>
        <logger level="INFO" message="Recieved by Rate Capture #[payload]" doc:name="Logger"/>
        <!-- <vm:outbound-endpoint exchange-pattern="one-way" path="rateServiceChannel" doc:name="VM-RateServiceChannel"/> -->
        <flow-ref name="ratecaptureFlow" doc:name="Flow Reference"/>
    </flow>
</mule>
