ws-mule-soap/src/main/app/ws-mule-soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<http:listener-config name="HTTPS_Baas_Listener"
		host="0.0.0.0" port="8081" basePath="searchSite" doc:name="HTTP Listener Configuration" />
	<http:request-config name="HTTP_Request_Configuration"  doc:name="HTTP Request Configuration" usePersistentConnections="false" responseTimeout="10000" />
	<cxf:configuration name="CXF_Configuration"
		enableMuleSoapHeaders="true" initializeStaticBusInstance="true"
		doc:name="CXF Configuration" />
	 <ws:consumer-config name="WS_Consumer_site201608" wsdlLocation="schema/fsl/com/wellsfargo/service/provider/FSL/site/site201608.wsdl" service="SiteService" port="site" serviceAddress="http://localhost:17013/sb-locations/sandbox-service" doc:name="Consumer for Site Service" connectorConfig="HTTP_Request_Configuration"/>
     <ws:consumer-config name="WS_Consumer_outlet201608" wsdlLocation="schema/fsl/com/wellsfargo/service/provider/FSL/outlet/outlet201608.wsdl" service="OutletService" port="outlet" serviceAddress="http://localhost:17013/sb-locations/sandbox-service" doc:name="Consumer for Outlet Service" connectorConfig="HTTP_Request_Configuration"/>
	
	<flow name="hostServiceFlow">
		<http:listener config-ref="HTTPS_Baas_Listener" path="/"
			doc:name="HTTP_Endpoint" />
		<!--<logger message="Payload = #[payload]" level="ERROR" doc:name="Logger"/>
		<cxf:proxy-service payload="envelope" doc:name="CXF"
			configuration-ref="CXF_Configuration" port="site" service="SiteService" />
		<mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
		<logger message="Payload = #[payload]" level="ERROR" doc:name="Logger"/>-->
		<set-payload value="#[Thread.currentThread().getContextClassLoader().getResourceAsStream('searchSiteRequest.xml')]" doc:name="Set Payload"/>
		<byte-array-to-string-transformer />
		<ws:consumer config-ref="WS_Consumer_site201608" operation="searchSites" doc:name="WS : Get Site Details"/>
		<logger message="Payload = #[payload]" level="ERROR" doc:name="Logger"/>
		<!-- <parse-template location="src/main/resources/searchSiteResponse.xml" doc:name="Load resource as a String"/> -->
	</flow>
</mule>
