ws-mule-soap/src/main/app/ws-mule-soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<http:listener-config name="HTTPS_Baas_Listener"
		host="0.0.0.0" port="8081" basePath="searchSite" doc:name="HTTP Listener Configuration" />
	<cxf:configuration name="CXF_Configuration"
		enableMuleSoapHeaders="true" initializeStaticBusInstance="true"
		doc:name="CXF Configuration" />
	<flow name="hostServiceFlow">
		<http:listener config-ref="HTTPS_Baas_Listener" path="/"
			doc:name="HTTP_Endpoint" />
		<logger message="Payload = #[payload]" level="ERROR" doc:name="Logger"/>
		<cxf:proxy-service payload="envelope" doc:name="CXF"
			configuration-ref="CXF_Configuration" port="site" service="SiteService" />
		<mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
		<logger message="Payload = #[payload]" level="ERROR" doc:name="Logger"/>
		<set-payload value="#[Thread.currentThread().getContextClassLoader().getResourceAsStream('searchSiteResponse.xml')]" doc:name="Set Payload"/>
		<byte-array-to-string-transformer />
		<!-- <parse-template location="src/main/resources/searchSiteResponse.xml" doc:name="Load resource as a String"/> -->
	</flow>
</mule>
